Debug/cl.command.1.tlog
Debug/CL.read.1.tlog
Debug/CL.write.1.tlog
Debug/link.command.1.tlog
Debug/link.read.1.tlog
Debug/link.write.1.tlog
Debug/mt.command.1.tlog
Debug/mt.read.1.tlog
Debug/mt.write.1.tlog
Debug/VaticParser.exe.intermediate.manifest
Debug/VaticParser.lastbuildstate
Debug/VaticParser.log
Debug/VaticParser.obj
Debug/vc100.idb
Debug/vc100.pdb
VaticParser.vcxproj
VaticParser.vcxproj.filters
VaticParser.vcxproj.user
